body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.form {
  text-align: center;
  margin: 1em;
}

.steps-list {
  margin: auto;
  text-align: center;
  width: 60%;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
}

.steps-item {

}


